<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>01_gestion_clients_jsp_servlet_mysql</display-name>
  
  
  <!-- ================================================================== -->
  <!-- ==== Déclaration de la servlet AuthentificationServlet =========== -->
  <!-- =================================================================== -->
  <servlet>
  	<servlet-name>AuthentificationServlet</servlet-name>
  	<servlet-class>com.intiformation.gestionclients.servlet.AuthentificationServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AuthentificationServlet</servlet-name>
  	<!-- url d'accès et d'invocation de la servlet -->
  	<url-pattern>/authentication-servlet</url-pattern>
  </servlet-mapping>
  
  
  <!-- ================================================================== -->
  <!-- ==== page (d'accueil) de dméarrage de l'apllication =============== -->
  <!-- =================================================================== -->
  <welcome-file-list>
    <welcome-file>authentification.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>